<div class="container">
  <div class="calendar-container" fxFlexAlign="center">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="inputModel.startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Number of Days" [(ngModel)]="inputModel.days">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Country Code" [(ngModel)]="inputModel.countryCode">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="generateCalendar()">Generate Calendar</button>
  </div>
  <div class="errors" *ngIf="showErrors">
    <div>Please enter the start date and number of days. </div>
  </div>
  <div class="year" *ngFor="let year of years">
    <h2 class="name-year">{{year.numberOfYear}}</h2>
    <div class="month-container">
      <div class="month" *ngFor="let month of year.month">
        <div fxLayout="row" class="header-month">
          <div class="week-days" *ngFor="let weekDay of weekDays">{{weekDay}}
          </div>
        </div>
        <div class="month-name">{{month.name}}-{{month.year}}</div>
        <div fxLayout="row" fxLayoutAlign=" center" class="week" *ngFor="let week of month.weeks">
          <div class="day" *ngFor="let day of week.days" [ngClass]="{'invalidDay': day.isDisabled,'weekend': day.isWeekend}">
            <span>{{day.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>